<div class="project_card">
    <div class="wrapper">
        <div class="main">
            <%=link_to obj.name , project_path(obj) %>

            <div class="participant">
                <% obj.members.each do |member| %>
                <%=member.name%>
                <%end%>
            </div>
        </div>
        <div class="options">
            
            <%=link_to project_path(obj) , method: :delete do%>

            <div class="option"><i class="bi bi-trash-fill"></i></div>
            <%end%>
            <% if obj.future?%>
            
            <div class="option">Start</div>
            <%end%>
        </div>
    </div>
</div>