<div class="project_card">
    <div class="wrapper">
        <div class="main">
            <div class="title">
                <h3 class="project_name"><%=obj.name%></h3>

            </div>
            <div class="participant">
               Danish Anuran Anas
            </div>
        </div>
        <div class="options">
            <div class="option"><i class="bi bi-trash-fill"></i></div>
            <div class="option"><i class="bi bi-check-circle-fill"></i></div>
            <div class="option">START</div>


        </div>
    </div>
</div>




