<div class="project_content">
    <div class="wrapper">
        <div class="project_tile">
            <div class="project_tile__body">
                <i class="tile_icon bi bi-telephone-fill"></i>
                <p color="white"><%=obj[:name]%></p>
            </div>
        </div>
    </div>
</div>