// Place all the styles related to the account controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.dashboard{
    width: 60vw;
    margin: auto;
}



.member_name{
    font-weight: 700;
}

.add_project{
    position:fixed;
    bottom: 20px;
    right:50%;
    font-size: 72px;
    z-index:10;

    
}

.current_project{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.current_project h1.project_name{
    font-weight: 300;
    
  
}


// projects CSS starts here 
.project{
    margin: 15px 0px;
    color:#212529;
}

.project:hover{
    background-color: #212529;
    color:white;
}

// projects CSS ends here


.option_menu{
    display:flex;
    flex-direction: row;
    justify-content:space-between;

}

i.bi-pin-fill{
 color:#dc3545;
font-size: 18px;


}

.gear_icon {
    padding-right: 10px;
animation-name: rotate;
animation-timing-function: ease;
animation-duration: 2s;
animation-direction: alternate;
animation-iteration-count: infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-60deg)
    }
    100%{
        transform: rotate(60deg)
    }
}

.welcome p {
    margin-bottom:0px;
}

@media(max-width:768px){
    .dashboard{
        width: 80vw;
    }
    
    
    
}