// CSS FOR PROJECT_CARD STARTS HERE

.project_card{
    border:1px solid black;
    border-radius: 2px;
    padding:20px;
    margin: 10px 0px;
}

.project_card .wrapper{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.project_main a{
    font-size: 24px;
    font-weight: 700;

}

.checkbox.participant{
    font-size: 12px;
    margin:3px;
    margin-left: 0;

    font-weight: 300;
}
// CSS FOR PROJECT_CARD ENDS HERE




.chat_room{
    font-family: 'Roboto', sans-serif;
}
.chat_room .wrapper{
    margin: auto;
    width:60vw;
}
.chatroom{
border-radius: 10px;
height: 50vh;

color:white;
padding: 20px;
background-color:var(--dark);
overflow:auto;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.control_group{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 10px;
}

.body_control{
    outline:none;
    border:none;
    width:100%;
    border-bottom: 2px solid var(--dark);
}

.submit_control{
    outline:none;
    border-radius: 2px;
    border: none;
    background-color:transparent !important;
    font-weight: 700;
    color: black;


}

.submit_control:disabled{
    color: black;
    opacity: 0.7;
}


.message_box{
    margin: 10px 0px;


}

.message_wrapper{
    display:inline-block;
    padding: 5px 15px;
    border-radius: 10px;
    background-color:chartreuse;

}

.messsage_sender{
 font-weight: 700;
 padding:5px;
 color:black;
 
}

.message_sender p , .message_body p{
    margin: 0;
    color: var(--dark);
}

.message_sender p{
    font-weight: 700;
}

.message_body p{
    font-weight: 300;
}

.message_body{
font-weight: 300;


}

@media(max-width: 768px){
    .chat_room .wrapper{
        width:80vw;
    }
}