// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.login-form{
    width: 80vw;
    margin:auto;
}

.pin_input{
    border:none;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.pin_input:focus{
    outline:none;
}

.form_submit{
    outline:none;
    background-color: chartreuse;

}

.input-group{
    display:flex;
    flex-direction:column;
}

.login-form {
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.form_s{
    margin-top: 50px;
}